<div class="bg-dark border-right p-3" id="sidebar">
  <h1 class="text-light text-center">Gifs-App</h1>
  <hr class="text-white" />
  <div *ngIf="historial.length > 0; else busquedaVacia" >

    <h5 class="text-white text-center mb-4">Búsquedas recientes</h5>
    <div class="list-group list-reset">
      <a
        *ngFor="let item of historial"
        (click)="buscar( item )"
        href="#"
        class="list-group-item list-group-item-action d-flex justify-content-between"
      >
        {{ item | titlecase }}
  
        <fa-icon 
          [icon]="deleteIcon"
          (click)="eliminar( item )"        
        >
        </fa-icon>
      </a>
    </div>
  </div>

  <ng-template #busquedaVacia>
    <h4 class="text-white text-center mt-5">Lista de búsqueda vacía!</h4>
  </ng-template>
  
</div>
